#background{
background-image: url('lg.jpg');
    height: 504px;
    width: 896px;
}
#hero {
    background-color: transparent;
    position: absolute;
    top: 410px;
    left: 420px;
}
.enemy {
    background-image: url("enemy.jpg");
    width: 40px;
    height: 36px;
    position: absolute;
}
.missle {
    background-image: url("misle.png");
    height: 8px;
    width: 4px;
    position: absolute;
}

#missles{
    height: 504px;
    width: 896px;
    position: absolute;
}
#enemies{
    height: 504px;
    width: 896px;
    position: absolute;
}
.buttons{
    background-color: cornflowerblue;
    width: 896px;
}